body{
    background: #fff;
    font-family: Verdana, Geneva, sans-serif;
}
#content {
    width:500px;
}

#matrix2 {
    width:70px;
    height: 70px
}
#drum-controls {
    display: flex;
    flex-direction: row;
}
.matrix-container {

}
#number {
    font-size: 20px !important;
}
.play-tempo{
    height: 100px;
    width:70px;
    /*margin:0 auto;*/
}
#sliders{
    display: inline-flex;
    justify-content: space-around;
    /*margin-left:60px;*/
    width:500px;
}
.slider-dial-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider-dial-container .dial {
  margin-top: -40px;
  margin-bottom: -40px;
}
.slider-dial .slider {

}
.filter-controls {
display: flex;
justify-content: space-around;
width:300px;
margin: auto;
}
